body {
  color: #000;
}
#section-show-products {
  .content {
  }
  .item {
    .tit {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.21;
      margin-bottom: 5px;
      margin-top: 13px;
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
    .des {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.21;
      opacity: 0.4;
      margin-bottom: 14px;
    }
    .price {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.21;
      color: #d42020;
      text-transform: uppercase;
      del {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.21;
        color: #b2b2b2;
        text-transform: uppercase;
      }
    }

    .default-img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .hover-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
      transform: scale(1);
    }
    .img-wrap {
      overflow: hidden;
      border-radius: 10px;
    }
    .content-item {
      padding: 8px;
    }
    .img-wrap:hover {
      .default-img {
        opacity: 0;
      }
      .hover-img {
        opacity: 1;
        transform: scale(1.08);
      }
    }
  }
}
#section-technology-cards {
  .item {
    border-radius: 10px;
    overflow: hidden;
  }
  .img-wrap {
    .img-text-wrap {
      position: absolute;
      padding: 6% 8%;
      bottom: 0;
      left: 0;
      .tit {
        font-size: 28px;
        margin: 20px 0 10px;
      }
      .sec-tit {
        font-size: 16px;
        color: #b2b2b2;
        margin: 0;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .text-wrap {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6.8%;
    background-color: #f6f3ed;
    padding: 6.8% 8%;
    border-radius: 0.7rem;
    .des {
      flex: 1;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(178, 178, 178, 0.3);
      margin-bottom: 0;
    }
    .btn {
      cursor: pointer;
      display: inline-block;
      padding: 2.3% 6.8%;
      background-color: #000;
      color: #fff;
      border-radius: 0.5rem;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
